<nav>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
</nav>
<router-outlet></router-outlet>

<!-- <ng-template #myTemplate>
    Hello There!
</ng-template>

<div appMyRouterLink="/path/to/something" [template]="myTemplate">Hello World</div>

<button (click)="myIfValue = !myIfValue">
    Toogle my If value
</button>

<div *appMyIf="myIfValue">
    My If directive is working!
</div>

<ng-template #tmp let-value="value">
    Separate Template for MyIf
    {{value}}
</ng-template>

<ng-container [appMyIf]="myIfValue" [template]="tmp">

</ng-container> -->