<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">SoftUni Forum</span></p>
    </div>

    <ng-template #loggedOutTemplate>
      <ul>
        <li>
          <a routerLink="/login" class="btn">Login</a>
        </li>
        <li>
          <a routerLink="/register" class="btn">Register</a>
        </li>
      </ul>
    </ng-template>

    <ng-template #loggedInTemplate>
      <ul>
        <li>
          <a routerLink="/profile" class="btn"> {{ firstName }},s profile </a>
        </li>
        <li routerLink="/logout" id="logout" class="btn">Logout</li>
      </ul>
    </ng-template>

    <div class="mini-navbar">
      <ng-container
        *ngTemplateOutlet="isLogged ? loggedInTemplate : loggedOutTemplate"
      ></ng-container>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="" class="btn">Home</a>
      </li>
      <li>
        <a routerLink="/themes" class="btn">Themes</a>
      </li>
      <li>
        <a routerLink="/add-theme" class="btn">New Theme</a>
      </li>
    </ul>
  </nav>
</header>
