// Variables
$clr-white: #fff;
$clr-white-soft: #EEE;
$clr-black: #000;
$clr-gray: #CCC;
$clr-gray-border: #999;
$clr-blue-btn: #4ebced;
$initial-space: 1.5em;

/*
*Removes all default whitespace
*/

* {
    padding: 0;
    margin: 0;
}

/*
*Reset CSS model sizing calculations
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    max-width: 1366px;
    margin: auto;
    position: relative;
    min-height: 100vh;
}


html {
    font: 18px/1.5 Verdana, sans-serif;
}

body,
form,
input,
textarea,
option,
select,
button {
    font: inherit;
}

ul,
ol {
    padding-bottom: $initial-space;
}

ul,
ol {
    padding-left: 2.5em;
}

blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}

p+h1,
p+h2,
p+h3,
p+h4,
p+h5,
p+h6 {
    padding-top: 0.5em;
}

h2 {
    text-align: center;
    border-bottom: 1px dashed $clr-gray-border;
}

span {
    font-weight: bold;
}

button {
    background-color: $clr-blue-btn;
    color: $clr-white;
}

button:hover {
    cursor: pointer;
}

main {
    width: 50%;
}

.site {
    max-width: 50em;
    margin: 0 auto;
}

table {
    border: 1px solid $clr-gray;
    width: 100%;
    border-spacing: 0.2em;
    margin-bottom: $initial-space;

    & td,
    & th {
        border: 1px solid $clr-gray;
        padding: 0.4em 0.8em;
    }

    & td {
        background: $clr-white-soft;
    }

    & thead th,
    & tfoot td {
        font-weight: bold;
        text-align: left;
        background: $clr-black;
        color: $clr-white;
    }

    & tbody tr:nth-child(even) td {
        background: $clr-gray;
    }

}


blockquote {
    padding: 0 2.5em;
    border-left: 2px solid $clr-black;
    font-family: Georgia, serif;
    margin-bottom: $initial-space;

    & p+p {
        padding-top: $initial-space;
    }

    & p:last-child {
        padding-bottom: 0;
    }

    & p.author {
        text-align: right;
    }

    &,
    p {
        font-style: italic;
    }

}


@media (min-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    html {
        font-size: 18px;
    }
}