<div class="container">
  <!-- #form gives us a refrence to the el -->
  <form #form="ngForm" class="login" (ngSubmit)="loginHandler(form)">
    <fieldset>
      <h2>Login Form</h2>

      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <!-- /#emailInput="ngModel"/ takes the attached directive to the element -->
        
        <input
          #emailInput="ngModel"
          class="input-error"
          type="email"
          ngModel
          [appEmail]="['bg', 'com']"
          required
          name="email"
          id="email"
          placeholder="john.doe@gmail.com"
        />
        
      </p>
      <ng-container *ngIf="emailInput.touched">
        <p class="error" *ngIf="emailInput.errors?.['required']">Email is required!</p>
        <p class="error" *ngIf="emailInput.errors?.['appEmailValidator']">Email is not valid!</p>
      </ng-container>
      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>

        <input
          #passwordInput="ngModel"
          type="password"
          ngModel
          name="password"
          id="password"
          placeholder="******"
          required
          [minlength]="5"
        />
      </p>

      <ng-container *ngIf="passwordInput.touched">
        <p class="error" *ngIf="passwordInput.errors?.['required']">Password is required!</p>
        <p class="error" *ngIf="passwordInput.errors?.['minlength']">Password must be at least 5 characters!</p>
      </ng-container>
      

      <button [disabled]="form.invalid">Login</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>
