<!-- Pipe -->
<!-- {{ obj.scores | reduce: add : 1000 }} -->
<!-- The pipe will re-calculate only if the first prop value is changed -->

<!-- Custom func -->
<!-- {{ calScores(obj) }}
<button (click)="addProp()">Add prop</button> -->

<!-- {{ myPromise | async}} -->

<nav>
  <div class="clock">
    {{ $time | async | date: "HH:mm:ss" }}
  </div>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/lazy">Lazy</a></li>
  </ul>
</nav>

<div *ngIf="isLoadingUsers$ | async">Loading...</div>
<div *ngIf="!(isLoadingUsers$ | async)">{{ user$ | async | json }}</div>

<button *ngIf="(user$ | async) === null" (click)="reloadUsers()">
  Load Users
</button>
<button *ngIf="(user$ | async) !== null" (click)="reloadUsers()">
  Reload Users
</button>

<router-outlet></router-outlet>
